/*Para Forms Dentro de Card*/
.tdlblCard{
    padding-left: 20px;
    padding-top: 30px;
}
.tdbtnCard{
    padding-top: 30px;
    padding-left: 40px;
}
/*Para Modais*/
td{
    
}
.tdlbl{
    padding-left: 40px;
    padding-top: 30px;
}
.tdvaleu{
    padding-left: 15px;
    padding-top: 30px;
}
.contForm{
    padding: 8px;
}
.textoCard{
	padding:14px;
}
.textoAdd{
	font-size: 89px;
}
.tdbtn{
    padding-top: 30px;
    padding-left: 60px;
}
.h3Form{
    float: left;
}