strong {
    font-weight: bold;
}

/* HEADER */
.icons-menu{
    width: 65%;
    margin-left: 15%;
    margin-top: 10%;
}
.branding-logo {
    width: 50px;
    height: 50px;
    background-color: #3F51B5;
}

.branding-logo:hover {
    background-color: #303F9F;
    transition: 0.4s;
    align-items: center;
}

.header-body {
    background-color: #5C6BC0;
}

/* SIDEBAR */

.sidebar-body {
    background-color: #9FA8DA;
    width: 50px;
    height: 92.3vh;
    float: left;  
}

.sidebar-item {
    width: 50px;
    height: 50px;
}

.sidebar-item:hover {
    background-color: #5C6BC0;
    width: 55px;
    transition: 0.2s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
}

.sidebar-item:active {
    width: 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.1s cubic-bezier(.25,.8,.25,1);
}

/* CARDS STYLE */

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #fff;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);   
}

body {
    background-color: #E8EAF6;
}

/* Button Style */

.btn {
    text-align: center;
    margin-top: 1.5%;
    margin-left: 1.5%;
    float: left;
    padding: 10px;
    border-color: #9FA8DA;
    color: #9FA8DA;
    text-transform: uppercase;
    border: solid;
    border-width: 1px;
    font-weight: bold;
    font-family: sans-serif;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);   
    border-color: #9FA8DA;
    background-color: #9FA8DA;
    color: #fff;
}

.btn:active {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.1s cubic-bezier(.25,.8,.25,1);
}

.btn-small
{
    min-width: 100px;
    max-width: 100px;
}
.btn-medium {
    min-width: 150px;
    max-width: 150px;
}

.btn-large {
    min-width: 200px;
    max-width: 200px;
}

.btn-alert {
    border-color: #FFC107;
    color: #FFC107;
}

.btn-alert:hover {
    border-color: #FFC107;
    background-color: #FFC107;
    color: #fff;
}

.btn-warning {
    border-color: #E57373;
    color: #E57373;
}

.btn-warning:hover {
    border-color: #E57373;
    background-color: #E57373;
    color: #fff;
}

.btn-success {
    border-color: #009688;
    color: #009688;
}

.btn-success:hover {
    border-color: #009688;
    background-color: #009688;
    color: #fff;
}

/* Forms & Input Style */

input {
    border: none;
    border-bottom: 1px solid #9FA8DA; 
    padding: 10px;
    float: left;
    margin-top: 1.5%;
    margin-left: 1.5%;
}

input[type=password]
{
    color: #9FA8DA;
    font-family: monospace;
}

input[type=radio], input[type=checkbox] {
    border: 1px solid #9FA8DA;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 20px;
    margin: 0 .25em 0 0;
    padding:0;
    vertical-align: top;
    width: 20px;
}
input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    border-bottom: 1px solid #3F51B5;
    outline: 0;
}
/* Horizontal Rule - Divider */

hr {
    border: 0;
    height: 0;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Alerts & Messages */

.message {
    margin-top: 1.5%;
    margin-left: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: #E8EAF6;
    border: 1px solid #9FA8DA;
    text-align: center;
    color: #9FA8DA;
}


.message-alert {
    background-color: #FFF8E1;
    border-color: #FFC107;
    color: #FFC107;
}

.message-warning {
    background-color: #FFEBEE;
    border-color: #E57373;
    color: #E57373;
}

.message-success {
    background-color: #E0F2F1;
    border-color: #009688;
    color: #009688;
}

/* Element Positioning */

.right {
    float: right;
    margin-right: 1.5%;
}

/* Clear Fixing */

.clearfix {
    text-align: center;
    overflow: auto;
}

/* Text Types */

h1 {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
}

p {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.2em;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 6%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5C6BC0;
    color: white;
}
